*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
.hidden {
	display: none;
}
form#form0, form#form1, form#form2, form#form3 {
	padding: 50px 20px;
	background-color: #ccc;
	max-width: 320px;
	margin: auto;
	position: relative;
}
form#form0 input, form#form1 input, form#form2 input, form#form3 input {
	padding-right: 60px;
}

.slide-header {
	font-size: 1.8em;
}
.fttxt {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dashed #fff;
	margin: -10px;
}